<!DOCTYPE html>
<html lang="nl">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>FDND Squad</title>

	<link rel="stylesheet" href="styles.css">


	<script src="/icons/fontawesome.min.js" defer></script>
	<script src="/icons/duotone.min.js" defer></script>
	<script src="/icons/brands.min.js" defer></script>

	<script type="module" src="/scripts/scroll-timeline.js" defer></script>
</head>

<body>
	<header>
			<div class="wrapper">
				<h1 class="logo">fdnd</h1>
			</div>
		</header>

		<main>
			<div class="wrapper wrapper--no-padding">
				<ul class="carousel">
					<% members.forEach((member, index) => { %>
						<li class="carousel__item">
							<article>
								<header class="carousel__item__header">
									<span class="shout">
										<span class="shout__text"><%- member.shouts?.length ?? '0' %></span>
										<i style="--icon-color: <%- member.colour?.hex ?? '#FFF' %>;" class="shout__icon fa-duotone fa-thumbs-up"></i>
									</span>
								</header>
								<img class="carousel__item__image" src="<%- member.avatar %>" alt="" loading="lazy">
								<div class="carousel__item__content">
									<h2><%- member.name %></h2>
									<a href="<%- member.website %>" target="_blank">Naar visitekaartje <i class="fa-duotone fa-up-right-from-square"></i></a>
								</div>
								<div class="carousel__item__navigators">
									<button type="button" class="button" data-action="previous" data-disabled="<%- (index === 0) %>">
										<i class="fa-duotone fa-chevron-left"></i>
									</button>
									<button type="button" class="button" data-action="next" data-disabled="<%- index === (members.length - 1) %>">
										<i class="fa-duotone fa-chevron-right"></i>
									</button>
								</div>
							</article>

						</li>
					<% }) %>
				</ul>
			</div>

		</main>

		<footer>
			<div class="wrapper navigators">
				<a class="button navigators__button--arrow" href="/?page=<%= activePage - 1 %>">
					<i class="fa-duotone fa-chevrons-left"></i>
				</a>
				<% for(let page of pages) { %>
					<a class="button navigators__button--page" data-activepage="<%- page === activePage %>" href="/?page=<%- page %>">
						<span class="button__text"><%- page %></span>
					</a>
				<% } %>
				<a class="button navigators__button--arrow" href="/?page=<%= activePage + 1 %>">
					<i class="fa-duotone fa-chevrons-right"></i>
				</a>
			</div>
		</footer>
</body>

</html>